*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    font-size: 14px;
    color: #fff;
}
a, a:visited{
    color: orange;
}
#container{
    width: 970px;
    margin: 0 auto;
    padding: 20px;
    background-color: #265175;
    
}
#nav{
    height: 55px;
    width: 970px;
    display: flex;
    justify-content: space-between;
    
}
input[type="text"]{
     height: 20px;
    width: 200px; 
}
/* input[type='submit']{
    width: 40px;
} */
#go{
    height: 22px;
    width: 30px;
    box-sizing: content-box;
    background-color: #265175;
    color: white; 

}
#nav img{
    height: 80px;
    width: 250px;
    margin: 12px;
}

#search form{
    width: 245px;
    color: white;
    background-color:#464646;
    padding: 15px;
    border-radius: 10px;
}
#search span{
    width: 150px;
    margin-left: 125px;
}
form{
    width: 352px;
    margin-top: 5px;
}
#nav-container{
    display: flex;
    justify-content: space-between;
}
#nav-container ul li{
    list-style-type: none;
     display: inline-block; 
} 
#nav-container ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.26em;
    padding: 30px;
    
}
#nav-container{
    height: 20px;
   background-color: #4B88C1;
   padding: 20px;
   margin: 30px 30px 30px 90px;
   border-radius: 10px;
}
.side-nav{
    width: 460px;
     /* display: inline-block;  */
}
.side-nav ul li{
    list-style:none;
    position:relative;
    text-align: center;
    padding: 5px;
    font-size: 1.2em;
}
.side-nav ul li a{
    color: white;
    font-size: 1.1em;
}
#main-container{
    display: flex;
    justify-content: space-between;
}

.content{
    width: 760px;
     /* display: inline-block;  */
    text-align: center;

}
.side-nav ul li{
    text-decoration: none;
}
.content p:not(:first-child):not(:last-child){
    color:#cabb4c;
    padding: 10px;
    font-size: 1.5em;
    font-style: italic;
}
#bottom-wrapper{
    display: flex; 
    flex-direction: row;
    padding: 20px;
    background: white;
    height: 200px;
    margin-top: 10px; 
} 
#bottom-wrapper ul li{
    list-style-type: none;
}
#bottom-wrapper a{
    color: #4B88C1; 
}

.getting-started{
    width: 460px;
    text-align: center;
    padding: 20px;
    border-top: 4px solid #009ac7; 
    margin: 10px; 
    color: black; 
    
}
.application{
    width: 460px;
    text-align: center;
    padding: 20px;
    border-top: 4px solid #0bbcf0;
    margin: 10px;
    color: black; 
    
}
.footer ul{
    list-style: none;
    margin: 0px 120px 0px 60px; 
     
}
.footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px; 
 
}
.footer a{
    text-decoration: none; 
    color: #009ac7;
    font-size: 1.4em;
}
.footer{
    margin: 20px 20px 20px 80px;
}
.footer span{
    font: .3em;
    margin: 10px 350px 10px 350px;
    
    
}