*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
#container{
    width: 970px;
    margin: 0 auto;
    background-color: #fff;
}
#content{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    margin: 11px;
    
}
#globe{
    width: 110px;
    height: 110px;
    position: relative;
    top: 29px;
}
.big{
    font-size: 3em;
}
.dkBlue{
    color: #497DA7;
}
h1{
    background-color: #497DA7;
    color: #fff;
    height: 2em; 
    padding: 10px 0 0 10px;
}
.blue{
    color: #497DA7;
}
#video{
    width: 200px;
    margin: 5px;
}
#video p{
    padding: 10px 0 10px 0px;
    font-weight: bold;
    
}

.red{
    color: red;
}
.ninja{
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 1.3em;
    color: white;
    width: 200px;
    background-image: url("images/ad_background.png");
}
.ninja img{

    width: 40%;
}
hr{
    width: 220px;
    margin: 20px 10px 20px 10px;
}
#contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;

}
.dns{
    margin-right: 356px;
}
.phone{
    width: 40px;
    height: 40px;
    position: relative: 
    right: 20px;
}
.home{
    width: 20px;
    height: 20px;
}
.phNum{

}
.phone-font{
    font-size: .5em; 
}
.num{
    color: #68CEDE;
    font-size: 1.3em;
}
.brightBlue{
    color: #68CEDE;
}
#clientsServers{
    width: 600px;

}
.clientServer{
    width: 50%;
    margin-left: 20%;
    padding: 20px 0 20px 0;
}
h2{
    color: #497DA7;
}
.big3{
    width: 103px;
    height: 92px;
    padding: 12px;
}
.bottom-container{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    width: 624px;
    border: 3px solid #0087DD;
    border-bottom: 0;
    margin-left: -17px;
    margin-top: 10px;
}
.btmCont{
    font-size: .8em; 
}

.btmCont h2{
    margin-top: 10px;
}