* {
	padding: 0px;
	margin: 0px;
}

#container {
	width: 1000px;
	margin: 0 auto;
}
h1 {
	text-align: center;
	padding-bottom: 20px;
}
.detail {
	float: right;
	top: 600px;
	border: 10px solid red;
	width: 150px;
	padding: 20px;
	margin-right: 200px;
}
.pm {
	width: 700px;
}
ul li {
	list-style: none;
	padding: 20px;
}
p {
	font-weight: bold;
}
